/* Enter your custom styles here */

.boldLink {
    font-weight: bold;
}

.greenFont {
    color: green !important;
}

.green {
    background-color: #66FF33;
}

.yellow {
    background-color: #FFFF66;
}
